<html> 
    <head>   
        <title>Futsal Nepal</title>         
        <!-- BOOTSTRAP -->         
        <link rel="stylesheet" href="../assets/css/bootstrap.min.css"> 
        <link rel="stylesheet" href="../assets/css/style.css">
    </head>     
    <body id="page-top" class=""> 
        <div class="body"> 
            <!-- HEADER start-->             
            <header class=""> 
                <nav class="navbar-inverse navbar-lg navbar-fixed-top"> 
                    <div class="container"> 
                        <div class="navbar-header"> 
                        <a routerLink="/" class="navbar-brand brand">
                            <img src="../assets/images/logo.png">
                        </a>                             
                    </div>                         
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> 
                            <span class="sr-only">For toggle nav</span> 
                            <span class="icon-bar"></span> 
                            <span class="icon-bar"></span> 
                            <span class="icon-bar"></span> 
                        </button>                         
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> 
                        <ul class="nav navbar-nav navbar-right navbar-login"> 
                            <li> 
                                <a routerLink="/login"><span class="icon-unlock2"></span> Login</a> 
                            </li>                                 
                        </ul>                             
                        <ul class="nav navbar-nav navbar-right"> 
                            <li class="dropdown mm-menu"> 
                                <a routerLink="/">Home</a> 
                            </li>                                 
                            <li class="dropdown"> 
                                <a routerLink="/court">Courts</a> 
                            </li>                                 
                                                            
                            <li class="dropdown"> 
                                <a routerLink="/bookingform">Booking</a> 
                            </li>                                 
                            <li class="dropdown"> 
                                <a routerLink="/signup">Register</a> 
                           </li>                                 
                        </ul>                             
                    </div>                         
                    </div>                     
                </nav>
            </header>             
            <!-- INTRO for header bg -->             
            <div class="intro intro3"> 
                <!-- <div class="overlay"></div> -->                 
               <!--  <div class="container"></div>  -->                
            </div>             
                    
        </div>         
        <!-- JS -->         
        <script src="../assets/js/jquery.js"></script>         
        <script src="../assets/js/bootstrap.min.js"></script>
    </body>
</html>