<head> 
        
  <title>Futsal Nepal</title>         
  
  <!-- BOOTSTRAP -->         
  <link rel="stylesheet" href="../assets/css/bootstrap.min.css">      
  
  <link rel="stylesheet" href="../assets/css/icons/style.css"> 
  <link rel="stylesheet" href="../assets/css/icons/icon2/style.css"> 
  
  <link rel="stylesheet" href="../assets/js/vendors/slick/slick.css"> 
  <link rel="stylesheet" href="../assets/css/style.css"> 
          
           
</head> 
<body>
  

<footer class="footer2" id="footer2"> 
  <div class="container"> 
      <div class="row"> 
          <div class="col-md-4"> 
              <a routerLink="/newhome" class="footer-logo">
                  <img src="../assets/images/logo.png">
              </a>                             
              <p>A futal court booking system.</p> 
              <div class="space20"></div>                             
          </div>                         
          <div class="col-md-4 footerP"> 
              <h5>RELATED LINKS</h5> 
              <li>
                  <a routerLink="/team"><p>Our Team</p></a>
              </li>                             
              <li>
                  <a routerLink="/contact"><p>Contact Us</p></a>
              </li>                             
          </div>                         
          <div class="col-md-4 footerP"> 
              <h5>OTHER LINKS</h5> 
              <li>
                  <a routerLink="/userdashboard"><p>Register</p></a>
              </li>                             
              <li>
                  <a routerLink="/about"><p>About</p></a>
              </li>                             
          </div>                         
      </div>                     
  </div>                 
</footer>             
<!-- COPYRIGHT -->             
<div class="footer-copy"> 
  <div class="container"> 
      © 2018. Futsal Nepal
  </div>                 
</div>             
   
<!-- JAVASCRIPT =============================-->         
<script src="../assets/js/jquery.js"></script>         
<script src="../assets/js/bootstrap.min.js"></script>         
<script src="../assets/js/vendors/slick/slick.min.js"></script>         
<script src="../assets/js/vendors/jquery.easing.min.js"></script>         
       
<script src="../assets/js/vendors/swipebox/js/jquery.swipebox.min.js"></script>         
<script src="../assets/js/main.js"></script>         
</body>