<head>
    <!-- <link rel="stylesheet"  href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/style.css"> -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
</head>
<body>
    <app-header></app-header>



<!-- Courts thumbnail with book now button -->


    <div class="container">
        <h1 class="text-center text-primary">Futsal Courts</h1><br>
        <br><br>

        <div class="row">
            <!-- Bouddha Futsal -->
          <div class="col-xs-3">
            <div class="thumbnail">
              <a href="../assets/images/football.jpg" target="_blank">
                <img src="../assets/images/football.jpg" alt="Lights" class="rounded">
                <div class="caption text-center">
                  <p>Bouddha Futsal</p>
                </div>
              </a>
              <button type="button" class="btn btn-primary center-block" routerLink="/bookingform">Book Now</button>
            </div>
          </div>
          <!-- Baneshwor Futsal -->
          <div class="col-xs-3">
            <div class="thumbnail">
              <a href="../assets/images/football.jpg" target="_blank">
                <img src="../assets/images/football.jpg" alt="Nature">
                <div class="caption text-center">
                  <p>Baneshwor Futsal</p>
                </div>
              </a>
              <button type="button" class="btn btn-primary center-block" routerLink="/bookingform">Book Now</button>
            </div>
          </div>
          <!-- Pulchowk Futsal -->
          <div class="col-xs-3">
            <div class="thumbnail">
              <a href="../assets/images/football.jpg" target="_blank">
                <img src="../assets/images/football.jpg" alt="Fjords">
                <div class="caption text-center">
                  <p>Pulchowk Futsal</p>
                </div>
              </a>
              <button type="button" class="btn btn-primary center-block" routerLink="/bookingform">Book Now</button>
            </div>
          </div>
<!-- Kalanki Futsal -->
          <div class="col-xs-3">
            <div class="thumbnail">
              <a href="../assets/images/football.jpg" target="_blank">
                <img src="../assets/images/football.jpg" alt="Fjords">
                <div class="caption text-center">
                  <p>Kalanki Futsal</p>
                </div>
              </a>
              <button type="button" class="btn btn-primary center-block">Book Now</button>
            </div>
          </div>

  <!-- Bouddha Futsal -->
  <div class="col-xs-3">
        <div class="thumbnail">
          <a href="../assets/images/football.jpg" target="_blank">
            <img src="../assets/images/football.jpg" alt="Lights">
            <div class="caption text-center">
              <p>Bouddha Futsal</p>
            </div>
          </a>
          <button type="button" class="btn btn-primary center-block" routerLink="/bookingform">Book Now</button>
        </div>
      </div>
      <!-- Baneshwor Futsal -->
      <div class="col-xs-3">
        <div class="thumbnail">
          <a href="../assets/images/football.jpg" target="_blank">
            <img src="../assets/images/football.jpg" alt="Nature">
            <div class="caption text-center">
              <p>Baneshwor Futsal</p>
            </div>
          </a>
          <button type="button" class="btn btn-primary center-block" routerLink="/bookingform">Book Now</button>
        </div>
      </div>
      <!-- Newroad Futsal -->
      <div class="col-xs-3">
        <div class="thumbnail">
          <a href="../assets/images/football.jpg" target="_blank">
            <img src="../assets/images/football.jpg" alt="Fjords">
            <div class="caption text-center">
              <p>Newroad Futsal</p>
            </div>
          </a>
          <button type="button" class="btn btn-primary center-block" routerLink="/bookingform">Book Now</button>
        </div>
      </div>
<!-- Lainchaur Futsal -->
      <div class="col-xs-3">
        <div class="thumbnail">
          <a href="../assets/images/football.jpg" target="_blank">
            <img src="../assets/images/football.jpg" alt="Fjords">
            <div class="caption text-center">
              <p>Lainchaur Futsal</p>
            </div>
          </a>
          <button type="button" class="btn btn-primary center-block" routerLink="/bookingform">Book Now</button>
        </div>
      </div>

        </div>
      </div>
      

      <br><br><br><br><br><br><br><br><br><br>
    <app-footer></app-footer>
    <script src="../assets/js/jquery.js"></script>         
    <script src="../assets/js/bootstrap.min.js"></script>
</body>