<html> 
    <head> 
        
        <title>Contact Futsal Nepal</title>
        <!-- BOOTSTRAP -->         
        <link rel="stylesheet" href="../assets/css/bootstrap.min.css">      
               
    </head>     
<body>
    <app-header></app-header>
  <div class="header">
        
        <h1><strong>Contact Details</strong> </h1>
      </div>
      <div class="site-content">
      
        <h4><hr></h4>
      
        <div class="contact-name">
          Primary Details<span class="contact-role">(Address)</span>
        </div>
      
        <div class="contact-list">
          <div class="contact-list-item">
            <div class="contact-col">
              <div class="square">
                <div class="content">
                  <img src="../assets/images/contact.png" alt="Office Photo 400*400 size"/>
                </div>
              </div>
            </div>
            <div class="contact-col">
              <div class="details">
                <ul>
                  <li>
                    <div class="label">&nbsp;</div>
                    <a href="https://maps.app.goo.gl/?link=https://goo.gl/maps/LtT8Ejhgx292?utm_source%3Dapp-invite%26mt%3D8%26pt%3D9008%26utm_medium%3DSIMPLE%26utm_campaign%3Ds2e-ai%26ct%3Ds2e-ai&apn=com.google.android.apps.maps&amv=703000000&isi=585027354&ibi=com.google.Maps&ius=comgooglemapsurl&utm_source=app-invite&mt=8&pt=9008&utm_medium=SIMPLE&utm_campaign=s2e-ai&ct=s2e-ai&invitation_id=493454522602-a9bb6efd-119e-4a1e-8922-37bc99afbaba" target="_blank">
                    <br><span class="value">Address</span></a>
                  </li>
                  <li>
                    <div class="label">&nbsp;</div>
                    <div class="value">E-Mail</div>
                  </li>
                  <li>
                    <div class="label">&nbsp;</div>
                    <div class="value">Tel-private</div>
                  </li>
                  <li>
                    <div class="label">&nbsp;</div>
                    <div class="value">Tel-mobile</div>
                  </li>
                  <li>
                        <div class="label">&nbsp;</div>
                        <div class="value">College</div>
                      </li>
                </ul>
              </div>
      
            </div>
            <div class="contact-col">
              <div class="details">
                <ul>
                  <li>
                    <div class="label">&nbsp;</div>
                    <div class="value">Mitrapark-1,Chabahil</div>
                  </li>
                  <li>
                    <div class="label">&nbsp;</div>
                    <div class="value">Kazi@bista.com</div>
                  </li>
                  <li>
                    <div class="label">&nbsp;</div>
                    <div class="value">+977-1-01-4460877</div>
                  </li>
                  <li>
                    <div class="label">&nbsp;</div>
                    <div class="value">+977-9851037478</div>
                  </li>
                  <li>
                    <div class="label">&nbsp;</div>
                    <div class="value">Texas International College</div>
                  </li>
                </ul>
              </div>
            </div>
           

          </div>
          <div class="contact-name-more">
            <span class="contact-role">Optional Address</span>
          </div>
          <div class="contact-list-item">
            <table class="details-more-table">
              <tr>
                <td class="label-more">Tel-mobile</td>
                <td class="value-more">+977-15091984</td>
              </tr>
              <tr>
                <td class="label-more">Tel-office</td>
                <td class="value-more">+977-4421611</td>
              </tr>
              <tr>
                <td class="label-more">Street</td>
                <td class="value-more">Pashupati Marg-5</td>
              </tr>
              <tr>
                <td class="label-more">Location</td>
                <td class="value-more">Mitrapark</td>
              </tr>
              <tr>
                <td class="label-more">Reception Number</td>
                <td class="value-more">+977-13081998</td>
              </tr>
            </table>
          </div></div></div>
          <div><hr><br></div>
      <app-footer></app-footer>
    </body>
</html>