<html>
<head>
<title>Futsal Nepal Registration</title>
<!-- Custom Theme files -->
<link href="../assets/login/css/style.css" rel="stylesheet" type="text/css" media="all"/>

<link href="../assets/login/css/font-awesome.css" rel="stylesheet"> 
<!-- //font-awesome icons -->
<!--Google Fonts-->
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
<script src="../assets/login/js/jquery-1.11.1.min.js"></script>
</head>
<body>
	<app-header></app-header>
	<div class="wthree-dot">
		<h1>Forgot Password</h1>
			<div class="profile">
				<div class="wrap">
					<div class="w3layouts-top-grids">
						<ul class="rslides callbacks callbacks1" id="slider4">
							
							<li>
								<div class="w3ls-subscribe">
									<div class="agileits-border">
										<h4>Forgot Password?</h4>
										<br>
										
										<form ngNativeValidate [formGroup]="forgetpasswordForms" (submit)="forgetpasswordForm()">
											
											<input type="email" name="Email" formControlName="Email" placeholder="Enter Your Email" required="" minlength="5" oninvalid="this.setCustomValidity('Please Enter valid email')"
											oninput="setCustomValidity('')">
											<br>
											<br>
											
											<input type="submit" value="Send">
										</form>

										<div class="agileinfo-follow">
											<h4>OR</h4>
										</div>
										
										<div class="agile-signin">
											<h4>Have an account <a routerLink="/login">SignIn</a></h4>
										</div>

									</div>
								</div>
							</li>
						</ul>
			
			</div>
			</div>
			</div>
		</div>
	</body>
	<app-footer></app-footer>
</html>