<html> 
    <head> 
        
        <title>Futsal Nepal</title>         
        
        <!-- BOOTSTRAP -->         
        <link rel="stylesheet" href="../assets/css/bootstrap.min.css">      
        
        <link rel="stylesheet" href="../assets/css/icons/style.css"> 
        <link rel="stylesheet" href="../assets/css/icons/icon2/style.css"> 
        
        <link rel="stylesheet" href="../assets/js/vendors/slick/slick.css"> 
        <link rel="stylesheet" href="../assets/css/style.css"> 
                
                 
    </head>     
    <body id="page-top"> 
        <div class="body"> 
            <!-- HEADER -->             
            <header> 
                <nav class="navbar-inverse navbar-lg navbar-fixed-top"> 
                    <div class="container"> 
                        <div class="navbar-header"> 
                            <a routerLink="" class="navbar-brand brand">
                                <img src="../assets/images/logo.png">
                                
                            </a>                             
                        </div>                         
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> 
                            <span class="sr-only">Toggle navigation</span> 
                            <span class="icon-bar"></span> 
                            <span class="icon-bar"></span> 
                            <span class="icon-bar"></span> 
                        </button>                         
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> 
                            <ul class="nav navbar-nav navbar-right navbar-login"> 
                                <li> 
                                    <a routerLink="login"><span class="icon-unlock2"></span> Login</a> 
                                </li>                                 
                            </ul>                             
                            <ul class="nav navbar-nav navbar-right"> 
                                <!-- <li class="dropdown mm-menu"> 
                                    <a href="/">Home</a> 
                                </li>                                  -->
                                <li class="dropdown"> 
                                    <a routerLink="/court">Courts</a> 
                                </li>                                 
                                                                
                                <li class="dropdown"> 
                                    <a routerLink="/bookingform">Booking</a> 
                                </li>                                 
                                <li class="dropdown"> 
                                    <a routerLink="/signup">Register</a> 
                                    <ul class="dropdown-menu" role="menu"> 
                                        <!-- <li>
                                            <a routerLink="login">Login</a>
                                        </li>                                          -->
                                        <li>
                                            <a routerLink="/signup">Signup</a>
                                        </li>                                         
                                    </ul>                                     
                                </li>                                 
                                <!-- <li class="dropdown"> 
                                    <a href="contact.html">Contact</a> 
                                </li>                                  -->
                            </ul>                             
                        </div>                         
                    </div>                     
                </nav>                 
            </header>             
            <!-- INTRO -->             
            <div class="intro intro3"> 
                <div class="overlay"></div>                 
                <div class="container"> 
                    <div class="row center-content"> 
                        <div class="col-md-5 col-sm-6"> 
                            <h3>APP FOR FUTSAL Booking</h3> 
                            <p>Booking for futsal court made easier,just go through Google Play Store I Follow the link of our app and enjoy</p> 
                            <div class="space30"></div>                             
                            <form class="intro-newsletter intro-newsletter-full"> 
                                <div class="col-md-8 col-sm-5 no-padding"> 
                                    <button class="btn btn-primary btn-block"><a>Download app</a></button>                                     
                                </div>                                 
                                <p>Share app to others</p> 
                            </form>
                        </div>                         
                        <div class="col-md-7 col-sm-6 no-padding"> 
                            <img src="../assets/images/12.png" class="img-responsive center-block" alt=" Futsal Nepal Android App Banner"> 
                        </div>                         
                    </div>                     
                </div>  <br><br><br><br><br><br><br><br><br><br><br><br> 
            </div>              
                        
            <!-- FOOTER -->             
            <footer class="footer2" id="footer2"> 
                <div class="container"> 
                    <div class="row"> 
                        <div class="col-md-4"> 
                            <a routerLink="" class="footer-logo">
                                <img src="../assets/images/logo.png">
                            </a>                             
                            <p>A futal court booking system.</p> 
                            <div class="space20"></div>                             
                        </div>                         
                        <div class="col-md-4 footerP"> 
                            <h5>RELATED LINKS</h5> 
                            <li>
                                <a routerLink="/team"><p>Our Team</p></a>
                            </li>                             
                            <li>
                                <a routerLink="/contact"><p>Contact Us</p></a>
                            </li>                             
                        </div>                         
                        <div class="col-md-4 footerP"> 
                            <h5>OTHER LINKS</h5> 
                            <li>
                                <a routerLink="/userdashboard"><p>Register</p></a>
                            </li>                             
                            <li>
                                <a routerLink="/about"><p>About</p></a>
                            </li>                             
                        </div>                         
                    </div>                     
                </div>                 
            </footer>             
            <!-- COPYRIGHT -->             
            <div class="footer-copy"> 
                <div class="container"> 
                    © 2018. Futsal Nepal
                </div>                 
            </div>             
        </div>
                 
        <!-- JAVASCRIPT =============================-->         
        <script src="../assets/js/jquery.js"></script>         
        <script src="../assets/js/bootstrap.min.js"></script>         
        <script src="../assets/js/vendors/slick/slick.min.js"></script>         
        <script src="../assets/js/vendors/jquery.easing.min.js"></script>         
                     
        <script src="../assets/js/vendors/swipebox/js/jquery.swipebox.min.js"></script>         
        <script src="../assets/js/main.js"></script>         
        
</body>
</html>