<html>

  <head>
      <title>team</title>
      <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
      <link rel="stylesheet" href="../assets/css/team.css">
      <script src="../assets/js/bootstrap.min.js"></script>
  </head>
  <body>
    <app-header></app-header>
    <div class="meet-the-team">
  
      <h1 class="title our-team">Our Team</h1>
      
      <ul class="team-section">
        
        <li class="team-member">
          <div class="shadow"></div>
          <div class="image-holder">
            <img src="../assets/images/member.jpg" alt="member 200 * 200">
          </div>
          <div class="text-holder">
            <div class="text-content">
              <p class="team-name">Ujjwal Bista</p>
              <p class="team-job">Front-end Designer</p>
              <p class="team-bio">IT | Curious | Inquisitive | Enquiring | Thirst for knowledge</p>
              <p class="team-contact">Email:ujjwal.bista1@gmail.com</p>
            </div>
          </div>
        </li>
        
        <li class="team-member">
          <div class="shadow"></div>
          <div class="image-holder">
            <img src="../assets/images/member.jpg" alt="member 200 * 200">
          </div>
          <div class="text-holder">
            <div class="text-content">
              <p class="team-name">Santosh Rumba</p>
              <p class="team-job">Database Designer</p>
              <p class="team-bio">Enthusiastic | Passionate | Driving force | Motivator | Achiever</p>
              <p class="team-contact">Email:rumba.santosh@gmail.com</p>
            </div>
          </div>
        </li>
        
        <li class="team-member">
          <div class="shadow"></div>
          <div class="image-holder">
            <img src="../assets/images/member.jpg" alt="member 200 * 200">
          </div>
          <div class="text-holder">
            <div class="text-content">
              <p class="team-name">Ojan Adhikari</p>
              <p class="team-job">Backend Designer</p>
              <p class="team-bio">Practical | Easy-going | Kind-hearted | Steady | Generous | Laid-back</p>
              <p class="team-contact">Email:buzzozads@gmail.com</p>
            </div>
          </div>
        </li>
        
        <li class="team-member">
          <div class="shadow"></div>
          <div class="image-holder">
            <img src="../assets/images/member.jpg" alt="member 200 * 200">
          </div>
          <div class="text-holder">
            <div class="text-content">
              <p class="team-name">Rumba Santosh</p>
              <p class="team-job">Android App. Developer</p>
              <p class="team-bio">Deep thinker | Solutions | Ideas | Resourceful</p>
              <p class="team-contact">Email:rumba.santosh@gmail.com</p>
            </div>
          </div>
        </li>
        
        <li class="team-member">
          <div class="shadow"></div>
          <div class="image-holder">
            <img src="../assets/images/member.jpg" alt="member 200 * 200">
          </div>
          <div class="text-holder">
            <div class="text-content">
              <p class="team-name">Shankar Pd. Sharma</p>
              <p class="team-job">Project Coordinator</p>
              <p class="team-bio">Motivator|  Doer | Dynamic | Energetic | Buoyant | Effective</p>
              <p class="team-contact">Email:Shankarpd@texas.edu.np</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <app-footer></app-footer>
  </body>
</html>