<html>

<head>
	<title>Booking Page</title>
	
</head>
<body> 
	<app-header></app-header>
	<table cellspacing="20%" cellpadding="15%" border="2" height="99%" width="100%">
            <th colspan="4">Court  Dashboard</th>
            <tr>
                <td>Booking ID</td>
				<!-- <td>Court Name</td> -->
				<td>User ID</td>
				<td>Date</td>
				<td>Time</td>
                <td>Action</td>
            </tr>
            <tr>
                    <td>1</td>
					
					<td>User ID</td>
					<td>desired date</td>
					<td>desired time</td>
			 		<td>&nbsp;<button><a routerLink="#">Delete</a></button></td>
            </tr>
            <tr>
                    <td>1</td>
					
					<td>User ID</td>
					<td>desired date</td>
					<td>desired time</td>
			 		<td>&nbsp;<button><a routerLink="#">Delete</a></button></td>
            </tr>
            <tr>
                    <td>1</td>
					
					<td>User ID</td>
					<td>Desired date</td>
					<td>desired time</td>
			 		<td>&nbsp;<button><a routerLink="#">Delete</a></button></td>
            </tr>
            <tr>
                    <td>1</td>
					
					<td>User ID</td>
					<!-- <td><input type="date"></td> -->
					<td>Desired date</td>
					<td>Desired time</td>
			 		<td>&nbsp;<button><a routerLink="#">Delete</a></button></td>
            </tr>

	</table>
</body>
<app-footer></app-footer>
</html>